{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Faça Login ou Crie sua Conta para continuar</h1>
        <hr>
        <div class="row">
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2">
                    {{ form_login.csrf_token }}
                    <Legend>Login</Legend>
                        <fieldset>
                            <div class="form-group">
                                {{ form_login.email.label(class="form-control-label mb-1") }}
                                {{ form_login.email(class="form-control mb-2") }}
                            </div>
                            <div class="form-group">
                                {{ form_login.senha.label(class="form-control-label mb-1") }}
                                {{ form_login.senha(class="form-control mb-2") }}
                            </div>
                            <div class="form-group">
                                {{ form_login.lembrar_dados.label }}
                                {{ form_login.lembrar_dados(class="form-check-input mb-2") }}
                            </div>
                        </fieldset>
                        {{ form_login.btn_submit_login(class="btn btn-primary mt-2") }}
                </form>
            </div>
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2">
                    {{ form_criar_conta.csrf_token }}
                    <Legend>Criar conta</Legend>
                        <fieldset>
                            <div class="form-group">
                                {{ form_criar_conta.username.label(class="form-control-label mb-1") }}
                                {{ form_criar_conta.username(class="form-control mb-2") }}
                            </div>
                            <div class="form-group">

                                {{ form_criar_conta.email.label(class="form-control-label mb-1") }}
                                {{ form_criar_conta.email(class="form-control mb-2") }}
                            </div>
                            <div class="form-group">
                                {{ form_criar_conta.senha.label(class="form-control-label mb-1") }}
                                {{ form_criar_conta.senha(class="form-control mb-2") }}
                            </div>
                            <div class="form-group">
                                {{ form_criar_conta.confirmacao.label(class="form-control-label mb-1") }}
                                {{ form_criar_conta.confirmacao(class="form-control mb-2") }}
                            </div>
                        </fieldset>
                        {{ form_criar_conta.btn_submit_criar_conta(class="btn btn-primary mt-3") }}
                </form>
            </div>
        </div>
    </div>
{% endblock%}